@charset "UTF-8";


:root{

    --cor01: #042940;
    --cor02: #005C53;
    --cor03: #9FC131;
    --cor04: #DBF227;
    --cor05: #D6D58E;

}

*{
    margin: 0;
    padding: 0;
}


header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, var(--cor02), var(--cor03) );
    color:#9FC131;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

header h1{
    font-size: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 0px black;
}

header p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    max-width: 600px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px black;


}

nav{
    background-color:#D6D58E;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    text-align: center;
}

nav a{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;

}

nav a:hover{
    background-color: white;
    color:#005C53;


}

main{
    background-color: aliceblue;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 15px;

}

main p{
    margin: 10px 10px;
    text-align: justify;
    text-indent: 30px;
    font-size: 17px;
    line-height: 2em;
}

main h1{
    text-align: center;
    color:#042940

}

main strong{
    color:#042940;
    font-weight: bold;
}

main a{
    text-decoration: none;
    color:#042940;
    font-weight: bold;
    background-color: #9FC131;
    padding: 2px 6px;
}

div.video{
    background-color: #005C53;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main a:hover{
    padding: 2px 4px;
    color:#DBF227;
}

main img.pequena{
    max-width: 350px;
    display:block;
    margin:auto;
}


img{
    width: 100%;
}

body{
    background-color:var(--cor01)
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}