@charset "UTF-8";


:root{

    --cor01: #042940;
    --cor02: #005C53;
    --cor03: #9FC131;
    --cor04: #DBF227;
    --cor05: #D6D58E;

}

*{
    margin: 0;
    padding: 0;
}

header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #005C53;
    color: #9FC131;
}

header h1{
    font-size: 50px;
}

header p {
    color: aliceblue;
    font-size: 25px;
}

nav{
    background-color: black;

}

main{
    background-color: aliceblue;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

img{
    width: 100%;
}

body{
    background-color:var(--cor01)
}

footer{
    background-color: black;
    color: aliceblue;
}