@charset "Utf-8";


:root{

    --cor001:#010626;
    --cor002:#022859;
    --cor003:#034C8C;
    --cor004:#2481A6;
    --cor005:#F2CA50;


}



header{
    background-color:var(--cor001);
    text-align: center;
    padding-top: 20px;
    color:#F2CA50;
}

header p{
    font-size: 25px;
    padding-bottom: 20px;
}

nav{
    background-color:#022859;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    
    
}

nav a{
    text-decoration: none;
    color: white;
    
}


nav a:hover{
    background-color: black;
    padding: 10px;
    border-radius: 7px;
    color: red;
}

body{
background-color: rgb(0, 0, 0);
background-image:url('imagens/tecnologia.webp');
background-size:contain;
background-attachment:fixed;
}

main{
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-bottom: 50px;
    
}

main p{
    text-indent: 30px;
    font-size: 25px;
}

main h1{
    text-align: center;
}

main h2{
    text-align: center;
}

footer{

}