@charset "Utf-8";

header{
    background-color: rgb(48, 136, 212);
}

nav{
    background-color: aquamarine;
}

body{
background-color: blueviolet;
background-image:url('imagens/tecnologia.webp');
background-size:contain;
background-attachment:fixed;
}

main{
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-bottom: 50px;
    
}

main p{
    text-indent: 30px;
    font-size: 25px;
}

main h1{
    text-align: center;
}

main h2{
    text-align: center;
}

footer{

}