@charset "UTF-8";

div.quadrado{
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}

div#q1{
    background-color: blueviolet;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3{
    background-image: url('imagens/pattern003.png');
}
