@charset "UTF-8";

body{
    
}

div.quadrado{
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}

div#q1{
    background-color: blueviolet;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3{
    background-image: url('imagens/pattern003.png');
}

div.bloco{
    height: 200px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 20px;
    background-image: url('imagens/wallpaper002.jpg');
}


div#l1{
    background-position: left top;
}

div#l2{
    background-position: left center;
}

div#l3{
    background-position:  right bottom;
}

div#l4{
    background-position: center center;
}


#container{
    position: relative;
    height: 500px;
    background-color: blueviolet;
    padding: 20px;
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
}

#conteudo{
    position: absolute;
    height: 200px;
    background-color: blue;
    width: 400px;

    left: 50%;
    top: 50%;
    
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;

    transform: translate(-50%, -50%);
}
