@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration:underline ;
    color: brown;
}

html, body{
    background-color: aquamarine;
    min-height: 100vh;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section.normal{
    background-color: aliceblue;
    color: black;
}

section p {
    padding-bottom: 2em;
}

section.imagem{
    background-color: blueviolet;
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
}

section#img01{
    background-image: url('imagens/imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}


section#img02{
    background-image: url('imagens/imagens/background002.jpg');
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.562);
    width: 400px;
    text-shadow: 1px 1px 0px black;
}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

