@charset "utf-8";



*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor01roxo: #561AD9;
    --cor02roxoescuro: #1F1273;
    --cor03azulclaro: #0A8CBF;
    --cor04amarelo: #F2CC0F;
    --cor05laranja: #F25835;
}


header{
    padding: 20px;
    text-align: center;
    background-color:#0A8CBF;
    margin-bottom: 10px;
    margin-top: 10px;
}

header h1{
    font-size: 40px;
}

nav{
    background-color: var(--cor03azulclaro);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: black;
}


nav a{
    color: #F2CC0F;
    text-decoration: none;
    padding: 10px;
    padding-top: 10px;
    
}

nav a:hover{
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    border-radius: 10px;
}


body{
    background-color:var(--cor01roxo)
}

main{
    background-color:aliceblue;
    box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.623);
    
    text-align: center;
    margin: auto;
    padding: 30px;

    min-width: 200px;
    max-width: 800px;

    border-radius: 15px;
}


main h1{
    font-size: 50px;
    color:var(--cor02roxoescuro);
    margin-top: 50px;
}

main h2{
    font-size: 50px;
    margin-bottom: 20px;
    color:#F25835;
}

main h3{
    font-size: 30px;
    padding-bottom: 10px;
    color:var(--cor03azulclaro);
    
}


main p{
    text-indent: 20px;
    text-align: justify;
    margin-top: 20px;
}


#tema01{
    background-color: #000000;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    
}

#tema02{
    background-color: #000000;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -20px;

    margin-bottom: 50px;
}






